* {
    box-sizing: border-box;
  }
body {
    position: relative;

} 
.section-head{
  text-align: center;
}

.aboutme {
    font-size: 1.0rem;;
    text-align:justify;
    border: solid black 2px; 
    align-self: center;
}

  *::before,
  *::after {
    box-sizing: border-box;
  }
  