*::before,
*::after {
  box-sizing: border-box;
}
body {
    position: relative;

} 
.section-head{
  text-align: center;
}
.section0{
  font-size: 1.25rem;
  align-content: center;
}
.intro{
  vertical-align:auto;
  text-align: center;
}
.aboutme {
    font-size: 1.15rem;
    text-align:justify;
    align-self: center;
}
.navbar{
  background: transparent!important;
  transition: 500ms ease;
}
.scrolled {
background: rgba(0, 0, 0, 1)!important;
transition: background-color 1s ease 0s;
}

  