* {
    box-sizing: border-box;
  }
body {
    position: relative;
} 
/* .section1{
    height:fit-content;
    background-color: aliceblue;
    background-size: fill;
    position:relative;  
    align-items: center;
}  */
.aboutme {
    font-size: 1.0rem;;
    text-align:justify; 
    
}

  *::before,
  *::after {
    box-sizing: border-box;
  }